@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --clr-primary-900: #000000;
    --hsl-primary-900-900: hsl(from var(--clr-primary-900) h s calc(l + 10));
    --hsl-primary-900-800: hsl(from var(--clr-primary-900) h s calc(l + 20));
    --hsl-primary-900-700: hsl(from var(--clr-primary-900) h s calc(l + 30));
    --hsl-primary-900-600: hsl(from var(--clr-primary-900) h s calc(l + 40));
    --hsl-primary-900-500: hsl(from var(--clr-primary-900) h s calc(l + 50));
    --hsl-primary-900-400: hsl(from var(--clr-primary-900) h s calc(l + 60));
    --hsl-primary-900-300: hsl(from var(--clr-primary-900) h s calc(l + 70));
    --hsl-primary-900-200: hsl(from var(--clr-primary-900) h s calc(l + 80));
    --hsl-primary-900-100: hsl(from var(--clr-primary-900) h s calc(l + 90));

    --clr-primary-800: #153050;
    --hsl-primary-800-900: hsl(from var(--clr-primary-800) h s calc(l + 10));
    --hsl-primary-800-800: hsl(from var(--clr-primary-800) h s calc(l + 20));
    --hsl-primary-800-700: hsl(from var(--clr-primary-800) h s calc(l + 30));
    --hsl-primary-800-600: hsl(from var(--clr-primary-800) h s calc(l + 40));
    --hsl-primary-800-500: hsl(from var(--clr-primary-800) h s calc(l + 50));
    --hsl-primary-800-400: hsl(from var(--clr-primary-800) h s calc(l + 60));
    --hsl-primary-800-300: hsl(from var(--clr-primary-800) h s calc(l + 70));
    --hsl-primary-800-200: hsl(from var(--clr-primary-800) h s calc(l + 80));
    --hsl-primary-800-100: hsl(from var(--clr-primary-800) h s calc(l + 90));

    --clr-primary-700: #eb4d4b;
    --hsl-primary-700-900: hsl(from var(--clr-primary-700) h s calc(l + 10));
    --hsl-primary-700-800: hsl(from var(--clr-primary-700) h s calc(l + 20));
    --hsl-primary-700-700: hsl(from var(--clr-primary-700) h s calc(l + 30));
    --hsl-primary-700-600: hsl(from var(--clr-primary-700) h s calc(l + 40));
    --hsl-primary-700-500: hsl(from var(--clr-primary-700) h s calc(l + 50));
    --hsl-primary-700-400: hsl(from var(--clr-primary-700) h s calc(l + 60));
    --hsl-primary-700-300: hsl(from var(--clr-primary-700) h s calc(l + 70));
    --hsl-primary-700-200: hsl(from var(--clr-primary-700) h s calc(l + 80));
    --hsl-primary-700-100: hsl(from var(--clr-primary-700) h s calc(l + 90));

    --clr-primary-600: #20bf6b;
    --hsl-primary-600-900: hsl(from var(--clr-primary-600) h s calc(l + 10));
    --hsl-primary-600-800: hsl(from var(--clr-primary-600) h s calc(l + 20));
    --hsl-primary-600-700: hsl(from var(--clr-primary-600) h s calc(l + 30));
    --hsl-primary-600-600: hsl(from var(--clr-primary-600) h s calc(l + 40));
    --hsl-primary-600-500: hsl(from var(--clr-primary-600) h s calc(l + 50));
    --hsl-primary-600-400: hsl(from var(--clr-primary-600) h s calc(l + 60));
    --hsl-primary-600-300: hsl(from var(--clr-primary-600) h s calc(l + 70));
    --hsl-primary-600-200: hsl(from var(--clr-primary-600) h s calc(l + 80));
    --hsl-primary-600-100: hsl(from var(--clr-primary-600) h s calc(l + 90));

    --clr-primary-500: #fd9644;
    --hsl-primary-500-900: hsl(from var(--clr-primary-500) h s calc(l + 10));
    --hsl-primary-500-800: hsl(from var(--clr-primary-500) h s calc(l + 20));
    --hsl-primary-500-700: hsl(from var(--clr-primary-500) h s calc(l + 30));
    --hsl-primary-500-600: hsl(from var(--clr-primary-500) h s calc(l + 40));
    --hsl-primary-500-500: hsl(from var(--clr-primary-500) h s calc(l + 50));
    --hsl-primary-500-400: hsl(from var(--clr-primary-500) h s calc(l + 60));
    --hsl-primary-500-300: hsl(from var(--clr-primary-500) h s calc(l + 70));
    --hsl-primary-500-200: hsl(from var(--clr-primary-500) h s calc(l + 80));
    --hsl-primary-500-100: hsl(from var(--clr-primary-500) h s calc(l + 90));

    --clr-primary-400: #ffffff;
    --hsl-primary-400-900: hsl(from var(--clr-primary-400) h s calc(l + 10));
    --hsl-primary-400-800: hsl(from var(--clr-primary-400) h s calc(l + 20));
    --hsl-primary-400-700: hsl(from var(--clr-primary-400) h s calc(l + 30));
    --hsl-primary-400-600: hsl(from var(--clr-primary-400) h s calc(l + 40));
    --hsl-primary-400-500: hsl(from var(--clr-primary-400) h s calc(l + 50));
    --hsl-primary-400-400: hsl(from var(--clr-primary-400) h s calc(l + 60));
    --hsl-primary-400-300: hsl(from var(--clr-primary-400) h s calc(l + 70));
    --hsl-primary-400-200: hsl(from var(--clr-primary-400) h s calc(l + 80));
    --hsl-primary-400-100: hsl(from var(--clr-primary-400) h s calc(l + 90));

    --clr-bg-900: #000000;
    --hsl-bg-900-900: hsl(from var(--clr-bg-900) h s calc(l + 10));
    --hsl-bg-900-800: hsl(from var(--clr-bg-900) h s calc(l + 20));
    --hsl-bg-900-700: hsl(from var(--clr-bg-900) h s calc(l + 30));
    --hsl-bg-900-600: hsl(from var(--clr-bg-900) h s calc(l + 40));
    --hsl-bg-900-500: hsl(from var(--clr-bg-900) h s calc(l + 50));
    --hsl-bg-900-400: hsl(from var(--clr-bg-900) h s calc(l + 60));
    --hsl-bg-900-300: hsl(from var(--clr-bg-900) h s calc(l + 70));
    --hsl-bg-900-200: hsl(from var(--clr-bg-900) h s calc(l + 80));
    --hsl-bg-900-100: hsl(from var(--clr-bg-900) h s calc(l + 90));

    --clr-bg-800: #182C61;
    --hsl-bg-800-900: hsl(from var(--clr-bg-800) h s calc(l + 10));
    --hsl-bg-800-800: hsl(from var(--clr-bg-800) h s calc(l + 20));
    --hsl-bg-800-700: hsl(from var(--clr-bg-800) h s calc(l + 30));
    --hsl-bg-800-600: hsl(from var(--clr-bg-800) h s calc(l + 40));
    --hsl-bg-800-500: hsl(from var(--clr-bg-800) h s calc(l + 50));
    --hsl-bg-800-400: hsl(from var(--clr-bg-800) h s calc(l + 60));
    --hsl-bg-800-300: hsl(from var(--clr-bg-800) h s calc(l + 70));
    --hsl-bg-800-200: hsl(from var(--clr-bg-800) h s calc(l + 80));
    --hsl-bg-800-100: hsl(from var(--clr-bg-800) h s calc(l + 90));
   
    --clr-bg-700: #EE5A24;
    --hsl-bg-700-900: hsl(from var(--clr-bg-700) h s calc(l + 10));
    --hsl-bg-700-800: hsl(from var(--clr-bg-700) h s calc(l + 20));
    --hsl-bg-700-700: hsl(from var(--clr-bg-700) h s calc(l + 30));
    --hsl-bg-700-600: hsl(from var(--clr-bg-700) h s calc(l + 40));
    --hsl-bg-700-500: hsl(from var(--clr-bg-700) h s calc(l + 50));
    --hsl-bg-700-400: hsl(from var(--clr-bg-700) h s calc(l + 60));
    --hsl-bg-700-300: hsl(from var(--clr-bg-700) h s calc(l + 70));
    --hsl-bg-700-200: hsl(from var(--clr-bg-700) h s calc(l + 80));
    --hsl-bg-700-100: hsl(from var(--clr-bg-700) h s calc(l + 90));

    --clr-bg-600: #3498db;
    --hsl-bg-600-900: hsl(from var(--clr-bg-600) h s calc(l + 10));
    --hsl-bg-600-800: hsl(from var(--clr-bg-600) h s calc(l + 20));
    --hsl-bg-600-700: hsl(from var(--clr-bg-600) h s calc(l + 30));
    --hsl-bg-600-600: hsl(from var(--clr-bg-600) h s calc(l + 40));
    --hsl-bg-600-500: hsl(from var(--clr-bg-600) h s calc(l + 50));
    --hsl-bg-600-400: hsl(from var(--clr-bg-600) h s calc(l + 60));
    --hsl-bg-600-300: hsl(from var(--clr-bg-600) h s calc(l + 70));
    --hsl-bg-600-200: hsl(from var(--clr-bg-600) h s calc(l + 80));
    --hsl-bg-600-100: hsl(from var(--clr-bg-600) h s calc(l + 90));

    --clr-bg-500: #f7f1e3;
    --hsl-bg-500-900: hsl(from var(--clr-bg-500) h s calc(l + 10));
    --hsl-bg-500-800: hsl(from var(--clr-bg-500) h s calc(l + 20));
    --hsl-bg-500-700: hsl(from var(--clr-bg-500) h s calc(l + 30));
    --hsl-bg-500-600: hsl(from var(--clr-bg-500) h s calc(l + 40));
    --hsl-bg-500-500: hsl(from var(--clr-bg-500) h s calc(l + 50));
    --hsl-bg-500-400: hsl(from var(--clr-bg-500) h s calc(l + 60));
    --hsl-bg-500-300: hsl(from var(--clr-bg-500) h s calc(l + 70));
    --hsl-bg-500-200: hsl(from var(--clr-bg-500) h s calc(l + 80));
    --hsl-bg-500-100: hsl(from var(--clr-bg-500) h s calc(l + 90));

    --clr-bg-400: #ffffff;
    --hsl-bg-400-900: hsl(from var(--clr-bg-400) h s calc(l + 10));
    --hsl-bg-400-800: hsl(from var(--clr-bg-400) h s calc(l + 20));
    --hsl-bg-400-700: hsl(from var(--clr-bg-400) h s calc(l + 30));
    --hsl-bg-400-600: hsl(from var(--clr-bg-400) h s calc(l + 40));
    --hsl-bg-400-500: hsl(from var(--clr-bg-400) h s calc(l + 50));
    --hsl-bg-400-400: hsl(from var(--clr-bg-400) h s calc(l + 60));
    --hsl-bg-400-300: hsl(from var(--clr-bg-400) h s calc(l + 70));
    --hsl-bg-400-200: hsl(from var(--clr-bg-400) h s calc(l + 80));
    --hsl-bg-400-100: hsl(from var(--clr-bg-400) h s calc(l + 90));
    
    --fs-48: 3rem;
    --fs-40: 2.5rem;
    --fs-32: 2rem;
    --fs-24: 1.5rem;
    --fs-22: 1.375rem;
    --fs-16: 1rem;
    --fs-10: 0.625rem;
    --fs-8: 0.5rem;

    --fw-900: 900;
    --fw-800: 800;
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;
    --fw-400: 400;
    --fw-300: 300;
    --fw-200: 200;
    --fw-100: 100;

    --pd-48: 3rem;
    --pd-40: 2.5rem;
    --pd-32: 2rem;
    --pd-24: 1.5rem;
    --pd-16: 1rem;
    --pd-10: 0.625rem;
    --pd-8: 0.5rem;

    --mg-48: 3rem;
    --mg-40: 2.5rem;
    --mg-32: 2rem;
    --mg-24: 1.5rem;
    --mg-16: 1rem;
    --pd-10: 0.625rem;
    --mg-8: 0.5rem;

    --gradient-primary: linear-gradient(to top, #3c40c6, #4b7bec);
    --gridient-secondary: linear-gradient(to bottom, #3c40c6, #4b7bec);
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, svg{
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

body{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: var(--hsl-bg-600-500);
}

.wrapper{
    display: grid;
    gap: 1rem;
    max-width: 60vb;
    margin: var(--mg-24) auto;
}

@media (min-width: 1150px) {
   .wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-width: 70rem;
    margin: var(--mg-48) auto;
    } 

.card{
    border: 2px solid green;
    display: grid;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: var(--pd-24);
    border-radius: 1.5rem;
    border-color: var(--hsl-primary-900-100);
    box-shadow: 0px 5px 2px 0px var(--hsl-primary-900-100)
    }
}


.card{
    border: 2px solid green;
    display: grid;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: var(--pd-24);
    border-radius: 1.5rem;
    border-color: var(--hsl-primary-900-100);
    box-shadow: 0px 5px 2px 0px var(--hsl-primary-900-100)
}

.card__name{
    font-size: var(--fs-22);
    font-weight: var(--fw-500);
}
.card__content{
    font-size: var(--fs-16);
    color: var(--clr-primary-800);
    font-weight: var(--fw-500);
    margin-bottom: auto;
}
.card__image{
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}